.navbar{
    background-color: white;
    border-color:orange;
    border-width: 10px;
    border-style: solid;
   background-color: rgb(13, 13, 14);
}
.ft{
    width: 200px;
    height: 100px;
    margin-right: 3px;
    margin-left: 5px;
   
}
.nav-link{
      color: orange;
      align-items:right;
}
img{
    height: 500px;
    width: 50%;
}
.pet{
    height: 300px;
    width: 286px;
    margin-top: 20px;
}
.navbar-brand{
    color: orange;
}
.container-fluid {
    background-color:black;
}
body{
    background-color: orange;
}
.footer{
 color: orange;
}